@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'raleway';
    font-weight: 500;
    color: theme('colors.black');
}

#myNav {
    max-width: 24rem;
    transition: 0.25s;
    left: -100%;
}

#myNav a {
    transition: 0;
}

@media (min-width: 1024px) {
    #myNav {
        left: 0px;
        max-width: 18rem;

    }
}

table {
    width: 100%;
    border-top: 1px solid theme('colors.grey');
}

table>tbody>tr:nth-child(even) {
    background: theme('colors.grey-light');

}

table tr>td {
    border-bottom: 1px solid theme('colors.grey');
    padding: 8px 16px;
    height: 50px;
}

table>thead>tr>td {
    height: 40px;
}

thead {
    font-weight: bold;
    background: theme('colors.grey');
}

.button {
    @apply bg-pink text-white px-8 h-10 text-sm w-fit gap-2;
    display: flex;
    position: relative;
    transition: all .35s;
    align-items: center;
    justify-content: center;
}

.button-full {
    width: 100% !important;
}

.button>span,
.button>svg {
    position: relative;
    z-index: 9;
}

.button:after {
    @apply bg-pink-dark;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all .3s;
}

.button:hover:after {
    width: 100%;
}

.button:active {
    transform: scale(0.925);
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-container>label {
    /* color: theme('color.grey'); */
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 4px;
    font-weight: 600;
}

textarea,
select,
input {
    background: theme('colors.white');
    padding: 10px;
    width: 100%;
    border: 1px solid theme('colors.grey');
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border: 1px solid theme('colors.pink');
}

input:disabled,
select:disabled,
textarea:disabled,
button:disabled {
    background-color: theme('colors.grey');
}

select {
    background-color: white;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
    background-position: 100%;
    background-repeat: no-repeat;
}

input::placeholder {
    opacity: 1;
    color: theme('colors.grey');
}

.input-error {
    border: 1px solid theme('colors.red');
}

.label-error {
    color: theme('colors.red');
}

button:disabled {
    background: theme('colors.grey');
}